<h1 class="text-5xl text-white text-center mt-20"><%= @mode_name %></h1>
<% if session[:started] %>
  <% if flash[:notice] %>
    <div class="flex items-center justify-center h-screen">
      <p class="text-8xl text-red-500">〇</p>
    </div>
    <script>
      setTimeout(function() {
        window.location.reload();
      }, 250);
    </script>
  <% elsif flash[:alert] %>
    <div class="flex items-center justify-center h-screen">
      <p class="text-8xl text-blue-500">×</p>
    </div>
    <script>
      setTimeout(function() {
        window.location.reload();
      }, 250);
    </script>
  <% else %>
    <h1 class="text-5xl text-white text-center mt-10">問題 <%= session[:total_count]&.next %></h1>
    <div class="flex justify-center mt-10">
      <div class="flex mt-10">
        <div class="grid grid-cols-2 gap-4">
          <% buttons.each do |button| %>
            <div class="flex items-center justify-center">
              <%= button_to answer_path(answer: button[0].split('/')[0]), method: :get, class: 'image-button' do %>
                <%= image_tag button[0], alt: button[1], class: 'rounded-full w-24 h-24 sm:w-32 sm:h-32 mr-5' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-5 mb-40 grid grid-cols-1 sm:grid-cols-2 gap-4 ">
      <%= render "Buttons/reset-Button" %>
      <%= render "Buttons/change -Mode-Button" %>
    </div>
  <% end %>
<% else %>
  <div class="mt-5 mb-40 grid grid-cols-1 sm:grid-cols-2 gap-4 ">
    <%= render "Buttons/game-Start-Button" %>
    <%= render "Buttons/game-Screen-Button" %>
  </div>
<% end %>
