<div class="flex justify-center h-screen items-center text-gray-600">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full text-center inline-block">
    <h1 class="text-4xl font-bold mb-4 mt-10 ">あなたの点数は <%= session[:correct_count] %>/10点です！</h1>
    <% rank = case session[:correct_count] 
      when 9..10 then 'ヒスイマスター' 
      when 7..8 then '上級ヒスイ冒険者' 
      when 5..6 then '中級ヒスイ冒険者' 
      when 3..4 then '初級ヒスイ冒険者' 
      else 'ヒスイ初心者' 
    end %>
    <p class="text-2xl mb-6">あなたのランクは </p>
    <p class="text-3xl mb-6"><strong><%= rank %></strong>です。</p>
    <%= render "Buttons/return-Button" %>
    <%= render "Buttons/change -Mode-Button" %>
    <%= render "Buttons/top-Page-Button" %>
  </div>
</div>
